.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100vw;
    background-color: #b37d3b;
    background-image:url('../images/ag-square.png');
    margin-top: 5.7rem;
}
.avatar-name{
    margin-top: -2em;
    color: #ffff;
}
#last-name{
    font-weight: 300;
}
