.new-tweet{
    display:flex;
    justify-content: space-between;
    width: 95%;
    padding-bottom: 1em;
    padding-left: 3em;
    flex-direction: column;
    margin-top: 4rem;
}
textarea{
    background-color: #f4f1ec;
    resize: none;
    width: 100%;
    border:none;
}
.new-tweet hr{
    border: 1px solid black;
    width: 99%;
  }
button{
    font-family: 'Bungee';
    font-weight: bolder;
    color:#ffff;
    background-color: rgb(0, 0, 181);
    width: 6.5rem;
    margin-top: 0.3em;
}
output{
    font-family: 'Bungee';
}
.counter{
    float: right;
    font-weight: 600;
}
